.Burger {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 72px;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 450px;
    height: 300px;
  }
}
